:root {
    --terra-escuro: #8a4b50;
    --rosa-queimado: #d07c74;
    --bege-rosado: #c9a698;
    --pessego: #f5dccc;
    --bege-claro: #f3eee8;
    --verde-acizentado: #6d7a6a;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    background: var(--bege-claro);
    color: #443;
}

header {
    background: var(--terra-escuro);
    color: white;
    padding: 25px;
    text-align: center;
    font-size: 28px;
    letter-spacing: 1px;
    border-bottom: 4px solid var(--rosa-queimado);
}

.container {
    width: 85%;
    margin: 40px auto;
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.container p:first-child {
    font-size: 22px;
    font-weight: 600;
    color: var(--terra-escuro);
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    display: grid;
    gap: 16px;
}

ul li a {
    background: var(--pesco);
}

ul li a {
    display: block;
    padding: 16px 20px;
    background: var(--pessego);
    border-left: 8px solid var(--rosa-queimado);
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    color: var(--terra-escuro);
    transition: 0.25s;
}

ul li a:hover {
    background: var(--bege-rosado);
    color: white;
    border-left-color: var(--terra-escuro);
    transform: translateX(6px);
}
