.tag-manutencao {
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 13px;
    color: rgb(169, 17, 17);
}

.tag-pendente {
    background: #e53935;
}

.tag-concluida {
    background: #43a047;
}
