{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

    <!-- HEADER -->
    <header>
        <h1>Gerenciamento de Frotas</h1>
    </header>

    <!-- CONTEÚDO -->
    <div class="container">

        <h2>Dashboard</h2>

        <p>Escolha uma área para gerenciar:</p>

        <ul style="list-style: none; padding-left: 0;">
            <li><a class="btn" href="{% url 'listar_motoristas' %}">Motoristas</a></li>
            <br>
            <li><a class="btn" href="{% url 'listar_veiculos' %}">Veículos</a></li>
            <br>
            <li><a class="btn" href="{% url 'listar_viagens' %}">Viagens</a></li>
            <br>
            <li><a class="btn" href="{% url 'listar_manutencoes' %}">Manutenções</a></li>
        </ul>

    </div>

</body>
</html>
