<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Frotas</title>
</head>
<body>

    <h1>Sistema de Frotas</h1>
    <p>Selecione uma das opções abaixo:</p>

    <ul>
        <li><a href="{% url 'listar_veiculos' %}">Gerenciar Veículos</a></li>
        <li><a href="{% url 'listar_motoristas' %}">Gerenciar Motoristas</a></li>
        <li><a href="{% url 'listar_viagens' %}">Registros de Viagens</a></li>
        <li><a href="{% url 'listar_manutencoes' %}">Solicitações de Manutenção</a></li>
    </ul>

</body>
</html>